

.el-icon-user:before { content: "\e90e"; }

.el-icon-check:before { content: "\e611"; }

.el-icon-user1:before { content: "\e680"; }

.el-icon-user2:before { content: "\e6b6"; }

.el-icon-user3:before { content: "\e6bc"; }

.el-icon-time:before { content: "\e67f"; }

.el-icon-delete:before { content: "\e710"; }

.el-icon-tag:before { content: "\e61d"; }

.el-icon-arrow-up:before { content: "\e605"; }

.el-icon-male:before { content: "\e622"; }

.el-icon-female:before { content: "\e623"; }

.el-icon-testpaper:before { content: "\e624"; }

.el-icon-arrow-left:before { content: "\e600"; }

.el-icon-search:before { content: "\e628"; }

.el-icon-circle-plus-outline:before { content: "\e62a"; }

.el-icon-user-group:before { content: "\e62b"; }

.el-icon-arrow-down:before { content: "\e603"; }

.el-icon-arrow-right:before { content: "\e604"; }

.el-icon-d-arrow-left:before { content: "\e631"; }

.el-icon-minus:before { content: "\e632"; }

.el-icon-edit:before { content: "\e633"; }

.el-icon-date:before { content: "\e634"; }

.el-icon-warning:before { content: "\e635"; }

.el-icon-d-arrow-right:before { content: "\e636"; }

.el-icon-more:before { content: "\e637"; }

.el-icon-upload:before { content: "\e638"; }

.el-icon-loading:before { content: "\e639"; }

.el-icon-zoom-in:before { content: "\e63a"; }

.el-icon-caret-top:before { content: "\e63b"; }

.el-icon-close:before { content: "\e63c"; }

.el-icon-setting:before { content: "\e63d"; }

.el-icon-star-on:before { content: "\e63f"; }

.el-icon-message:before { content: "\e640"; }

.el-icon-caret-right:before { content: "\e643"; }

.el-icon-caret-bottom:before { content: "\e644"; }

.el-icon-menu:before { content: "\e646"; }

.el-icon-plus:before { content: "\e647"; }

.el-icon-d-caret:before { content: "\e649"; }

.el-icon-star-off:before { content: "\e64a"; }

.el-icon-share:before { content: "\e64b"; }

.el-icon-circle-close:before { content: "\e64c"; }

.el-icon-caret-left:before { content: "\e64d"; }

.el-icon-circle-check:before { content: "\e64f"; }

.el-icon-picture:before { content: "\e651"; }

.el-icon-collapse:before { content: "\e652"; }

.el-icon-rank:before { content: "\e653"; }

.el-icon-refresh:before { content: "\e655"; }

.el-icon-course:before { content: "\e659"; }

.el-icon-bill:before { content: "\e65a"; }

.el-icon-error:before { content: "\e65e"; }

.el-icon-back:before { content: "\e65f"; }

.el-icon-sort-down:before { content: "\e660"; }

.el-icon-circle-plus:before { content: "\e662"; }

.el-icon-sort-up:before { content: "\e663"; }

.el-icon-location-outline:before { content: "\e664"; }

.el-icon-location:before { content: "\e665"; }

.el-icon-edit-outline:before { content: "\e666"; }

.el-icon-goods:before { content: "\e667"; }

.el-icon-bell:before { content: "\e668"; }

.el-icon-moblie-phone:before { content: "\e669"; }

.el-icon-more-outline:before { content: "\e66a"; }

.el-icon-info:before { content: "\e66b"; }

.el-icon-news:before { content: "\e66c"; }

.el-icon-phone:before { content: "\e66d"; }

.el-icon-picture-outline:before { content: "\e66e"; }

.el-icon-phone-outline:before { content: "\e66f"; }

.el-icon-download:before { content: "\e670"; }

.el-icon-question:before { content: "\e671"; }

.el-icon-service:before { content: "\e672"; }

.el-icon-sold-out:before { content: "\e673"; }

.el-icon-remove:before { content: "\e674"; }

.el-icon-tickets:before { content: "\e675"; }

.el-icon-upload2:before { content: "\e676"; }

.el-icon-remove-outline:before { content: "\e677"; }

.el-icon-sort:before { content: "\e678"; }

.el-icon-zoom-out:before { content: "\e679"; }

.el-icon-view:before { content: "\e67a"; }

.el-icon-printer:before { content: "\e67b"; }

.el-icon-circle-close-outline:before { content: "\e67c"; }

.el-icon-circle-check-outline:before { content: "\e67d"; }

.el-icon-success:before { content: "\e67e"; }

.el-icon-document:before { content: "\e684"; }

.el-icon-lock:before { content: "\e620"; }

.el-icon-cart:before { content: "\e625"; }

.el-icon-sjpt:before { content: "\e619"; }

